# Ignore everything
*

# Except all yaml files
!automations
!integrations
!themes
!.github/
!.github/workflows
!**/*.yaml

# Except custom shell scripts
!shell
!shell/*.sh

# But including secrets.yaml
secrets.yaml

# And except JS files in www
!www
!www/*.js

# And except other miscellaneous files
!.gitignore
!.prettierignore
!.prettierrc
