# Ignore everything
*

# Except all yaml files
!automations
!integrations
!**/*.yaml

# But including secrets.yaml
secrets.yaml

# And except JS files in www
!www
!www/*.js

# And except other miscellaneous files
!.gitignore
